@font-face {
  font-family: "PTSans";
  src: url(../fonts/pt-sans_regular.woff2) format("woff2"),
    url(../fonts/pt-sans_regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url(../fonts/pt-sans_bold.woff2) format("woff2"),
    url(../fonts/pt-sans_bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Semi Bold"), local("Source-Sans-Pro-Semi-Bold"),
    url(../fonts/SourceSansPro-SemiBold.woff2) format("woff2"),
    url(../fonts/SourceSansPro-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Bold"), local("Source-Sans-Pro-Bold"),
    url(../fonts/SourceSansPro-Bold.woff2) format("woff2"),
    url(../fonts/SourceSansPro-Bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

img {
  width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PTSans", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 20px;
  padding: 19px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
  background-image: url(../img/images/background.png);
  background-color: #108a81;
}

/* HEADER */
.header {
  padding-top: 20px;
  padding-bottom: 16px;
  background-image: url(../img/images/background.png);
  background-color: #108a81;
}

.header__logo-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.header__logo {
  width: 30%;
  text-align: center;

  & img {
    width: 100%;
  }
}

.header__nav {
  width: 66%;
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__nav-item {
  margin: 0;
  padding: 0;

  & a {
    font-size: 26px;
    font-weight: 700;
    line-height: 12px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px 10px;
    transition: 0.3s ease-in-out border;

    &:hover,
    &:active {
      border: 1px solid #fff;
    }
  }
}

/* BANNER */
.banner__img {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* ADVANTAGES */
.advantages {
  padding-top: 20px;
  padding-bottom: 28px;
}

.advantages__descr {
  text-align: center;
  font-size: 44px;
  line-height: 78px;
  margin-bottom: 67px;

  & b {
    font-weight: 700;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 33px;
  gap: 25px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.advantages__item-title {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -2%;
}

.advantages__img {
  width: 205px;
  margin-bottom: 44px;
}

.advantages__descr-bottom {
  text-align: center;
  line-height: 78px;
  font-size: 44px;

  & b {
    font-weight: 700;
  }
}
/* ADVANTAGES END*/

/* GOODS */
.good-descr {
  line-height: 53px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  width: 72%;
}

.good-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}

.good-list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.good-item-link {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  & img {
    max-height: 440px;
    max-width: 440px;
    height: auto;
    object-fit: contain;
    margin-bottom: 13px;
  }

  & p {
    color: black;
    font-family: "Source Sans Pro";
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
    max-width: 80%;
  }
}

.good-link {
  padding: 21px 126px;
  background: #108a81;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-weight: 700;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #065751;
  }
}

.good-banner {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 64px;
}

/* FRIDGES SWIPER*/
.fridges__swiper {
  max-width: 1440px;
  width: 90%;
  margin-bottom: 47px;

  & .swiper-wrapper {
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 37px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .swiper-btn {
    width: 77px;
    height: 77px;
    top: 42.75%;
    background: url(../img/icons/arrow.svg) no-repeat center center;
    background-size: contain;

    &::after {
      display: none;
    }
  }

  & .swiper-btn-fridge-prev {
    left: 0;
  }
  & .swiper-btn-fridge-next {
    right: 0;
    transform: rotate(180deg);
  }

  .swiper-pagination {
    position: static;
    & span.swiper-pagination-bullet {
      margin-right: 29px;
      height: 27px;
      width: 27px;
      background-color: #108a81;
    }
  }
}
/* FRIDGES END */

/* ADVANTAGES BOTTOM */
.advantages-bottom__descr {
  text-align: center;
  font-size: 44px;
  line-height: 78px;
  margin-bottom: 45px;

  & b {
    font-weight: 700;
  }
}

.advantages-bottom__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 74%;
  gap: 30px;
}

.advantages-bottom__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}

.advantages-bottom__img {
  margin-bottom: 20px;
  width: 205px;
}

.advantages-bottom__item-title {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -2%;
}

.advantages-bottom {
  margin-bottom: 125px;
}

/* FOOTER */
.footer {
  padding-top: 87px;
  padding-bottom: 71px;
  /* background-image: url(../img/images/background.png); */
  background-image: url(../img/images/background-bottom.png);
  background-color: #108a81;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: center;
  gap: 55px;
  font-size: 30px;

  * {
    margin: 0;
    padding: 0;
  }
}

.footer__logo-wrap {
  width: 30%;
}

.footer__logo {
  display: block;
  max-width: 488px;
}

.footer__tel-wrap,
.footer__mail-wrap {
  flex-shrink: 0;
}

.footer__tel-title {
  margin-bottom: 25px;
}

.footer__tel-descr {
  margin-bottom: 20px;
}

.footer__tel-number {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.footer__mail-title {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 17px;
    top: 7px;
    left: 0;
    background: url(../img/icons/email.svg) no-repeat center;
    background-size: contain;
  }
}

.footer__mail-post {
  display: block;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .footer {
    p,
    a {
      font-size: 26px;
    }
  }

  .footer__mail-title {
    &::before {
      top: 5px;
    }
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 28px;
  }

  .header__nav-item {
    a {
      font-size: 30px;
    }
  }

  .advantages__descr,
  .good-descr,
  .advantages__descr-bottom,
  .advantages-bottom__descr {
    font-size: 30px;
    line-height: 44px;
  }

  .advantages__item-title,
  .advantages-bottom__item-title {
    font-size: 30px;
  }

  .advantages__img,
  .advantages-bottom__img {
    width: 180px;
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 36px;
  }

  .good-item-link {
    p {
      font-size: 28px;
    }
  }
  .good-link {
    font-size: 28px;
  }

  .footer {
    p,
    a {
      font-size: 20px;
    }
  }

  .footer__container {
    gap: 30px;
  }

  .footer__mail-title {
    &::before {
      top: 2px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .header__logo-wrap {
    margin-bottom: 20px;
  }

  .header__logo {
    width: 50%;
  }
  .header__nav {
    width: 90%;
  }

  .header__nav-item {
    a {
      font-size: 24px;
    }
  }

  .advantages__img,
  .advantages-bottom__img {
    width: 160px;
    margin-bottom: 30px;
  }

  .advantages__item-title,
  .advantages-bottom__item-title {
    font-size: 20px;
  }

  .advantages__descr {
    margin-bottom: 45px;
  }

  .advantages__descr,
  .good-descr,
  .advantages__descr-bottom,
  .advantages-bottom__descr {
    font-size: 24px;
    line-height: 30px;
  }

  .good-descr {
    width: 90%;
  }

  .good-item-link {
    width: 70%;

    & img {
      width: 65%;
      max-height: 300px;
      max-width: 300px;
    }
  }
  .good-banner {
    width: 100%;
  }

  .section-title {
    font-size: 28px;
  }

  .good-item-link {
    & p {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .good-link {
    font-size: 24px;
  }

  .fridges__swiper {
    width: 100%;
    & .swiper-btn {
      width: 50px;
      height: 50px;
    }
  }

  .advantages-bottom {
    margin-bottom: 75px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    p,
    a {
      font-size: 14px;
    }
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .footer__logo-wrap,
  .footer__mail-wrap,
  .footer__tel-wrap {
    width: 50%;
  }

  .footer__mail-title {
    &::before {
      width: 20px;
      height: 15px;
      top: 0px;
    }
  }
}

@media (max-width: 768px) {
  .header__nav-item {
    & a {
      font-size: 18px;
    }
  }

  .advantages__descr,
  .good-descr,
  .advantages__descr-bottom,
  .advantages-bottom__descr {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .advantages-bottom__list {
    width: 100%;
  }

  .advantages__item,
  .advantages-bottom__item {
    width: 75%;
  }

  .advantages__list,
  .advantages-bottom__list {
    flex-direction: column;
    align-items: center;
  }

  .advantages__img,
  .advantages-bottom__img {
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 20px;
  }

  .good-item-link {
    & p {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .good-link {
    font-size: 18px;
    padding: 21px 100px;
  }

  .good-item-link {
    & img {
      max-height: 200px;
      max-width: 200px;
    }
  }

  .fridges__swiper .swiper-pagination {
    & span.swiper-pagination-bullet {
      margin-right: 20px;
      height: 20px;
      width: 20px;
    }
  }

  .footer {
    p,
    a {
      font-size: 14px;
    }
  }

  .footer__mail-title {
    padding-left: 20px;
    &::before {
      width: 15px;
      height: 12px;
      top: -1px;
    }
  }
}

@media (max-width: 480px) {
  .header__nav {
    width: 100%;
    & a {
      padding: 3px 5px;
    }
  }

  .advantages__descr,
  .good-descr,
  .advantages__descr-bottom,
  .advantages-bottom__descr {
    font-size: 12px;
    line-height: 20px;
  }

  .advantages__item-title,
  .advantages-bottom__item-title {
    font-size: 14px;
  }

  .advantages__img,
  .advantages-bottom__img {
    width: 100px;
    margin-bottom: 15px;
  }

  .fridges__swiper {
    & .swiper-btn {
      top: 40%;
      width: 35px;
      height: 35px;
    }
  }

  .section-title {
    font-size: 14px;
  }

  .good-item-link {
    & p {
      font-size: 14px;
    }
  }

  .good-link {
    font-size: 16px;
    padding: 20px 65px;
  }

  .footer {
    p,
    a {
      font-size: 12px;
    }
  }

  .footer__logo-wrap,
  .footer__mail-wrap,
  .footer__tel-wrap {
    width: 60%;
  }
}
